.page2 {
  page: page2;
}

@page page2 {
  margin: 8mm;
  margin-bottom: 8mm;
  margin-top: 8mm;
}

.page2 .figure img {
  max-width: 100%;
  width: 100%;
  float: right;
}

.page2 {
  /* width: 100%; */
  display: grid;
  column-gap: 3mm;
  grid-template-columns: [left] 40% [right] 1fr [end];
}


.pagedjs_page2_page.pagedjs_left_page .page2 {
  grid-template-columns: [left] 1fr [right] 40% [end];
}

.pagedjs_page2_page.pagedjs_left_page .page2 .sub {
  grid-column: left;
}

.sub {
  font-family: var(--font-serif);
  grid-column: end;
  margin-bottom: 2em;
}

.sub img {
  /* float: right; */
  display: block;
  margin-left: auto;
}

.page2 h3 {
  background: white;
  margin-bottom: var(--font-lineHeight);
  margin-top: calc(var(--font-lineHeight) * 2);
  position: relative;
  color: var(--color-primary);
  break-before: avoid;
}

.page2 .sub p,
.page2 .sub ul {
  /* padding-left: 1.5ch;
  border-left: 3px solid var(--color-primary); */
  hyphens: auto;
  line-height: var(--font-lineHeight);
}

.page2 .sub ul {
  margin-left: 0;
  padding-left: 5ch;
}

.page2 .sub li {
  line-height: var(--font-lineHeight);
}


/* update */




#la-forge-logicielle {
}

#le-paquet-r-comme-outil-collaboratif 
  h3 {
  margin-top: 0;
}

.page2 .titlezone * {
  font-weight: 300 !important;
}

.page2 .titlezone h1 {
  font-size: 3.5em;
  line-height: 1.1;
}

.page2 .titlezone h2 {
  font-size: 1.2;
  text-transform: unset;
  line-height: calc(var(--font-lineHeight) * 1.8);
  font-weight: 300;
  hyphens: auto;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: underline;
  text-decoration-color: var(--color-bleu-france);
  color: var(--color-bleu-france);
  font-style: italic;
}

#mutualisé h3 {
  margin-top: 0;
}

.chiffres {
  position: absolute;
  font-family: var(--font-sans);
  /* background: var(--color-bleu-france); */
  /* background: var(--color-E1); */
  color: var(--color-bleu-france);
  font-size: 1em;
  width: 30%;
  padding: 1ch;
  box-shadow: 0 0 0 3px var(--color-E1);
  position: absolute;
  color: var(--color-bleu-france);
  font-size: 1em;
  width: 30%;
  padding: 2ch;
  box-shadow: 0 0 0 3px var(--color-E1);
  bottom: 0;
  right: 0;
  background: var(--color-E1), linear-gradient(rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.5));
}

.chiffres h2 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.sub .chiffres ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding: 1em; */
}

.chiffres ul li {
  margin-top: 1em;
  font-size: 0.9em;
  line-height: var(--font-lineHeight);
}

.chiffres strong {
  font-size: 1.1em;
  line-height: 0;
  font-weight: 300;
}

.rpls {
  /* margin-left: 3ch; */
  font-size: 0.945em;
  margin-top: .5em;
}

.rpls p {
  font-family: var(--font-sans);
  font-size: .9em;
  border-left: 2px solid var(--color-bleu-france);
  padding-left: 1.5ch;
}

.sub .intro {
  font-family: var(--font-sans);
}

.page2 .sub img {
  position: absolute;
  bottom: 0;
  left: -140px;
  height: 480px;
}

.page2 .sub [src*="full-stack"] {
  top: -110%;
  right: -170px;
}

.page2 .sub p {
  text-indent: 0;
}