on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: macOS-latest
    steps:
      - uses: r-lib/actions/setup-r@master
      - uses: r-lib/actions/setup-pandoc@master
      - name: Install tools
        run: |
          # CI fails if rlang is not installed first:
          install.packages(c("remotes", "rcmdcheck", "devtools", "covr"))
        shell: Rscript {0}
      - name: Install sf dependencies
        run:  brew install pkg-config
              brew install gdal
      - name: Install sf
        run:  install.packages("sf", configure.args = "--with-proj-lib=/usr/local/lib/")
        shell: Rscript {0}
      - name: Checkout gouvdown.fonts
        uses: actions/checkout@v2
        with:
          repository: spyrales/gouvdown.fonts
          token: ${{ secrets.BOT_GITHUB_PAT }}
          path: gouvdown.fonts
      - name: Install gouvdown.fonts
        run: devtools::install("gouvdown.fonts")
        shell: Rscript {0}
      - name: Remove gouvdown.fonts directory
        run: rm -rf gouvdown.fonts
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: remotes::install_deps(dependencies = TRUE, type = "mac.binary")
        shell: Rscript {0}
      - name: Check
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "warning")
        shell: Rscript {0}
      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
